.link,
.link:visited,
.link:link {
  color: #ffffff;
  text-decoration: none;
}

.link:hover,
.link:active {
  color: #17cf97;
}

.football {
  display: inline;
  color: #ffffff;
}
.football:hover {
  color: #815337;
  cursor: url("./../../assets/football.png"), auto;
}

.about-half-subtext {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.project-card-container {
  display: flex;
}

/* Small Screen */
@media (max-width: 850px) {
  .project-card-container {
    margin-bottom: 15px;
  }
}

/* Large Screen */
@media (min-width: 851px) {
  .about-half-subtext {
    max-width: 600px;
    margin-left: 20px;
  }
  .project-card-container {
    height: 220px;
    margin-bottom: 30px;
  }
}
