.link,
.link:visited,
.link:link {
  color: #ffffff;
  text-decoration: none;
}

.link:hover,
.link:active {
  color: #17cf97;
}

.football {
  display: inline;
  color: #ffffff;
}
.football:hover {
  color: #815337;
  cursor: url("./../../assets/football.png"), auto;
}

.about-half-subtext {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
  justify-content: flex-start;
  padding-right: 20px;
}

.project-card-container {
  display: flex;
}

.content-container {
  display: flex;
  max-width: 600px;
  min-width: 100px;
  width: 100%;
  overflow: hidden;
  position: relative; /* Ensure items are positioned relative to container */
}

.active {
  transform: translateX(0%);
}

.inactive {
  transform: translateX(100%);
}

.inactive2 {
  transform: translateX(-100%);
}

/* Small Screen */
@media (max-width: 850px) {
  .project-card-container {
    margin-bottom: 15px;
  }
  .content-container {
    height: 1000px;
  }
}

/* Large Screen */
@media (min-width: 851px) {
  .about-half-subtext {
    max-width: 600px;
    margin-left: 20px;
  }
  .project-card-container {
    height: 220px;
    margin-bottom: 30px;
  }
  .content-container {
    height: 800px;
  }
}
