#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
}
#navbar li a:hover,
#navbar li a.active {
  color: #17cf97;
  transition: 0.2s ease-out;
}

#navbar a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 20px;
  width: 0;
  height: 2px;
  background-color: #17cf97;
  transition: 0.2s ease-out;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #17cf97;
  position: absolute;
  bottom: -4px;
  left: 20px;
  transition: 0.2s ease-out;
}
